<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <% if (isSelf) { %>
    <h1>Greetings <%= profile.name %>!</h1>
  <% } else { %>
    <h1><%= profile.name %> </h1>
  <% } %> 
    
  <% if (profile.twins.length) { %>
      <h2> 
        <% if (isSelf) { %> 
        You have <a class="profile-ref" href="/twins/mytwins"><%= `${profile.twins.length} twins` %></a>!
        <% } else { %>
          <%= `${profile.name} has ${profile.twins.length} twins!` %>
        <% } %>
      </h2>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't " : `${profile.name} doesn't ` %>have any twins!
    </h2>
  <% } %>
  <% if (profile.eats.length) { %>
    <h2> 
      <% if (isSelf) { %> 
        You have <a class="profile-ref" href="/eats/myeats"><%= `${profile.eats.length} Space Objects` %></a>!
        <% } else { %>
          <%= `${profile.name} has ${profile.eats.length} Space Objects!` %>
        <% } %>
    </h2>
<% } else { %>
  <h2>
    <%= isSelf ? "You don't " : `${profile.name} doesn't ` %>have any Space Objects!
  </h2>
<% } %>
<div class="main-button-container">
  <a href="/twins/new" class="btn btn-primary btn-lg">Create twin</a>
  <a href="/eats/new" class="btn btn-primary btn-lg">Create Space Object</a>
</div>
</main>

<%- include('../partials/footer') %>