<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <% if (isSelf) { %>
    <h1>Greetings <%= profile.name %>!</h1>
  <% } else { %>
    <h1><%= profile.name %> </h1>
  <% } %> 
    
  <% if (profile.babies.length) { %>
      <h2> 
        <% if (isSelf) { %> 
        You have <a class="profile-ref" href="babies/babies"><%= `${profile.babies.length} babies` %></a>!
        <% } else { %>
          <%= `${profile.name} has ${profile.babies.length} babies!` %>
        <% } %>
      </h2>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't " : `${profile.name} doesn't ` %>have any babies!
    </h2>
  <% } %>
<% if (profile.eats.length) { %>
    <h2> 
      <% if (isSelf) { %> 
        You have <a class="profile-ref" href="/eats/myeats"><%= `${profile.eats.length} Space Objects` %></a>!
        <% } else { %>
          <%= `${profile.name} has ${profile.eats.length} Space Objects!` %>
        <% } %>
    </h2>
<% } else { %>
  <h2>
    <%= isSelf ? "You don't " : `${profile.name} doesn't ` %>have any events!
  </h2>
<% } %>
<div class="main-button-container">
  <a href="/babies/new" class="btn btn-primary btn-lg">Add Baby</a>
  <a href="/eats/new" class="btn btn-primary btn-lg">Add feeding</a>
  <a href="/sleeps/new" class="btn btn-primary btn-lg">Add nap</a>
  <a href="/poops/new" class="btn btn-primary btn-lg">Add diaper</a>
</div>
</main>

<%- include('../partials/footer') %>