<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1 class="title" ><%= title %></h1>
    <% if (user) { %> 
      <a href="/twins/new" class="btn btn-primary btn-lg add-btn">Create twin</a>
    <% } %>   
    <% twins.forEach(twin => { %>  
      <div class="card text-center w-50">
        <div class="card-body">
          <% if (twin.imgUrl) { %>
            <img
              src="<%= twin.imgUrl %>" 
              alt="<%= twin.name %>"
            />
          <% } else { %>
            <img
              src="/images/defaulttwin.jpeg" 
              alt="placeholder"
            >
          <% } %>
          <h2 class="card-title"><%= twin.name %></h2>
          <p class="card-text">Created by: <a class="prof-card" href="/profiles/<%= twin.createdBy._id %>"><%= twin.createdBy.name %></a></p>
          <% if (twin.description) { %> 
            <p class="card-text"> Description: <br><%= twin.description %></p>
          <% } %> 
          <a href="/twins/<%= twin._id %>" class="btn btn-primary look">Look inside</a>
        </div>
      </div>
      <% }) %>
      
  </main>

  <%- include('../partials/footer') %>
