<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1 class="title" ><%= title %></h1>
    <% if (user) { %> 
      <a href="/poops/new" class="btn btn-primary btn-lg add-btn">log diaper</a>
    <% } %>
    <% poops.forEach(poop => { %>  
      <div class="card text-center w-50">
        <div class="card-body">
          <h2 class="card-title"><%= poop.date %></h2>
          <p class="card-text">Type: <%= poop.type %></p>
          <p class="card-text">Diaper logged by: <a class="prof-card" href="/profiles/<%= createdBy._id %>"><%= createdBy.name %></a></p>
          <% if (user) {%> 
            <% if (poop.shared) { %> 
              <p>This Object is shared</p>
              <% if (babies.length) { %> 
                <% if (babies.length !== checkAll(babies, poop)) {%> 
                  <form 
                   action="/babies/<%= poop._id %>/poops"
                  method="post"
                  >
                  <label> Choose your Baby:
                  <select name="babyId">
                  <% babies.forEach(baby => { %>
                  <% if (!(baby.poops.includes(poop._id))) {%> 
                  <option value="<%= baby._id %>"><%= baby.name %></option>
                    <% } %>
                  <% }) %>
                  </select>
                  </label>
                  <button type="submit" class="btn btn-primary add">Add</button>
                  </form>
                  <% } else { %>
                    <p>already logged under baby</p>
                  <% } %> 
              <% } else { %>
                <p>You don't have any babies yet <a href="babies/new" class="btn btn-primary">Add baby</a></p>
              <% } %>
            <% } else {%>
              <p>This Object is not shared</p>
            <% } %> 
          <% } %> 
        </div>
      </div>
      <% }) %>

      <% function checkAll(babies, poop) { %>
        <% let total = 0 %>
        <%  babies.forEach(baby => {%>
        <%  if (baby.poops.includes(poop._id)) {%>
          <% total += 1 }%>
          <% %> 
        <% }) %>  
        <% return total %>
      <% } %>

  </main>

  <%- include('../partials/footer') %>
