<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1 class="title"><%= title %></h1>
    <% if (!babies.length) { %> 
      <h2>You don't have any babies yet!</h2>
    <% } %>
    <a href="/babies/new" class="btn btn-primary btn-lg add-btn">Create Baby</a>
    <% babies.forEach(baby => { %>  
      <div class="card text-center w-50">
        <div class="card-body">
          <% if (baby.imgUrl) { %>
            <img
              src="<%= baby.imgUrl %>" 
              alt="<%= baby.name %> "
            />
          <% } else { %>
            <img
              src="/images/blueb.jpeg" 
              alt="<%= baby.name %> "
            >
          <% } %>
          <h2 class="card-title"><%= baby.name %></h2>
          <p class="card-text">Created by: <a class="prof-card" href="/profiles/<%= baby.createdBy._id %>"><%= baby.createdBy.name %></a></p>
          <% if (baby.description) { %> 
            <p class="card-text"> Description: <br><%= baby.description %></p>
          <% } %> 
          <a href="/babies/<%= baby._id %>" class="btn btn-primary look">Look inside</a>
          <div class="card-button-group">
          <form action="/babies/<%= baby._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
            <a href="/babies/<%= baby._id %>/edit" class="btn btn-success">Edit</a>
          </div>
        </div>
      </div>
    <% }) %>
      
  </main>

  <%- include('../partials/footer') %>
