<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1 class="title" ><%= title %></h1>
    <% if (user) { %> 
      <a href="/sleeps/new" class="btn btn-primary btn-lg add-btn">Log Naps</a>
    <% } %>
    <% sleeps.forEach(sleep => { %>  
      <div class="card text-center w-50">
        <div class="card-body">
          <h2 class="card-title"><%= sleep.date %></h2>
          <% if (sleep.amount) {%> 
            <p class="card-text">Amount: <%= sleep.amount %> hours</p>
          <% } %>
          <p class="card-text">Nap logged by: <a class="prof-card" href="/profiles/<%= sleep.createdBy._id %>"><%= sleep.createdBy.name %></a></p>
          <% if (user) {%> 
            <% if (sleep.shared) { %> 
              <p>This Object is shared</p>
              <% if (babies.length) { %> 
                <% if (babies.length !== checkAll(babies, sleep)) {%> 
                  <form 
                   action="/babies/<%= sleep._id %>/sleeps"
                  method="post"
                  >
                  <label> Choose your Baby:
                  <select name="babyId">
                  <% babies.forEach(baby => { %>
                  <% if (!(baby.sleeps.includes(sleep._id))) {%> 
                  <option value="<%= baby._id %>"><%= baby.name %></option>
                    <% } %>
                  <% }) %>
                  </select>
                  </label>
                  <button type="submit" class="btn btn-primary add">Add</button>
                  </form>
                  <% } else { %>
                    <p>This object already logged under baby</p>
                  <% } %> 
              <% } else { %>
                <p>You don't have any Babies yet <a href="/babies/new" class="btn btn-primary">Add Baby</a></p>
              <% } %>
            <% } else {%>
              <p>This Object is not shared</p>
            <% } %> 
          <% } %> 
        </div>
      </div>
      <% }) %>

      <% function checkAll(babies, sleep) { %>
        <% let total = 0 %>
        <%  babies.forEach(baby => {%>
        <%  if (baby.sleeps.includes(sleep._id)) {%>
          <% total += 1 }%>
          <% %> 
        <% }) %>  
        <% return total %>
      <% } %>

  </main>

  <%- include('../partials/footer') %>
