<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1 class="title" ><%= title %></h1>
    <% if (user) { %> 
      <a href="/eats/new" class="btn btn-primary btn-lg add-btn">Create Space Object</a>
    <% } %>
    <% eats.forEach(Eat => { %>  
      <div class="card text-center w-50">
        <div class="card-body">
          <% if (Eat.imgUrl) { %>
            <img
              src="<%= Eat.imgUrl %>" 
              alt="<%= Eat.name %>"
            />
          <% } else { %>
            <img
              src="/images/eats/default<%= Eat.type %>.jpeg" 
              alt="placeholder"
            >
          <% } %>
          <h2 class="card-title"><%= Eat.name %></h2>
          <p class="card-text">Type: <%= Eat.type %></p>
          <% if (Eat.size) {%> 
            <p class="card-text">Size: <%= Eat.size %> mile diameter</p>
          <% } %>
          <p class="card-text">Created by: <a class="prof-card" href="/profiles/<%= Eat.createdBy._id %>"><%= Eat.createdBy.name %></a></p>
          <% if (user) {%> 
            <% if (Eat.shared) { %> 
              <p>This Space Object is shared</p>
              <% if (twins.length) { %> 
                <% if (twins.length !== checkAll(twins, Eat)) {%> 
                  <form 
                   action="/twins/<%= Eat._id %>/eats"
                  method="post"
                  >
                  <label> Choose your twin:
                  <select name="twinId">
                  <% twins.forEach(twin => { %>
                  <% if (!(twin.eats.includes(Eat._id))) {%> 
                  <option value="<%= twin._id %>"><%= twin.name %></option>
                    <% } %>
                  <% }) %>
                  </select>
                  </label>
                  <button type="submit" class="btn btn-primary add">Add</button>
                  </form>
                  <% } else { %>
                    <p>This Space Object is already in all your twins</p>
                  <% } %> 
              <% } else { %>
                <p>You don't have any twins yet <a href="/twins/new" class="btn btn-primary">Add twin</a></p>
              <% } %>
            <% } else {%>
              <p>This Space Object is not shared</p>
            <% } %> 
          <% } %> 
        </div>
      </div>
      <% }) %>

      <% function checkAll(twins, Eat) { %>
        <% let total = 0 %>
        <%  twins.forEach(twin => {%>
        <%  if (twin.eats.includes(Eat._id)) {%>
          <% total += 1 }%>
          <% %> 
        <% }) %>  
        <% return total %>
      <% } %>

  </main>

  <%- include('../partials/footer') %>
